body{
    margin: 0px;
    padding: 0px;
    background-color: #101010;
    background-image: radial-gradient(
        farthest-corner at 40px 40px,
        rgba(255, 51, 85, 0.705) 0%,
        rgba(66, 51, 238, 0.588) 100%
    );
}

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contentSection{
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;

}
.card{
    scale: 100%;
    background-color: #202020;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition-duration: 400ms;


}
a{
    outline: none;
}
.card:hover{
    scale: 102%;
    margin-bottom: 50px;
    transition-duration: 400ms;
}
