.navbar{
   
    background-color: #353535;
    height: 100px;
    padding: 5px;
    
    display:flex;
    justify-content: space-between;
}
@media only screen and (max-width: 800px) {
   
 .links{
        
    display:none;
    }
    #menu{
        color: white;
        position: fixed;
        z-index: 50;
        background-color: rgba(21, 21, 21, 0.959);
        height: 100%;
        width: 100%;
        top: -100%;
        left:0;
        transition-duration: 500ms;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        font-size: xx-large;
    }
    #hamburger{        
        display: flex;
        justify-content: center;
        align-items: center;
        scale: 100%;
        transition-duration: 100ms;
        margin-right: 15px;
    }
}
@media only screen and (min-width: 800px) {

    .links{
            
        width: 33%;
        display:flex;
        margin-right: 50px;
        justify-content: space-between;
        
    }
    
    #hamburger{        
        display: none;
    }
    #menu{
    display: none;
    }
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    scale: 100%;
    margin: 10px;
    transition-duration: 100ms;
}


#hamburger:hover{
    scale: 110%;
    transition-duration: 100ms;
}


@media only screen and (min-width: 1000px) {

   
    .image:hover{
        scale: 110%;
        transition-duration: 100ms;
    
    }
    .logotype{
        margin-left: 50px;
    }

}

.buttons{
    display: flex;
    
}

.navbutton{
    color:#A7A7A7;
    padding: 10px;
    transition-duration: 200ms;
}
.navbutton:hover{
    color:rgb(235, 235, 235);
    cursor: pointer;
    transition-duration: 200ms;

}
.selectednavbutton{
    color:white;
    scale: 101%;
    padding: 10px;
}


